<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Stardos+Stencil:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <link rel="stylesheet" href="css/output.css"/>
    <link rel="icon" href="css/img/tab-icon.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <title>Where & When | Springhill Fruit Farm</title>
  </head>
  <body>
    <div id="indexPage"></div>
    <div class="shadePage"></div>
    <div id="menuBox">
      <div id="menuBar">
        Menu
      </div>
      <div id="allButtons">
        <a href="default.html">
          <div class="menuButton">
            Welcome
          </div>
        </a>
        <a href="produce.html">
          <div class="menuButton">
            Fruit & More
          </div>
        </a>
        <a href="directions.html">
          <div class="menuButton">
            Where & When
          </div>
        </a>
        <a href="history.html">
          <div class="menuButton" id="lastButton">
            Family & Farm
          </div>
        </a>
      </div>
    </div>
    <div class="subpageTitle" id="directionsTitle">
      Where & When
    </div>
    <div id="setDisplay">
      <div id="locationBox">
        <div id="locationShade">

        </div>
        <div id="locationContent">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.3045830809297!2d-82.56138279999999!3d40.9090671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8839f2cd3649e19b%3A0xd5ec135080e591f7!2sSpringhill+Fruit+Farm!5e0!3m2!1sen!2sus!4v1524578896683" width="250" height="300" frameborder="0" allowfullscreen></iframe>
          <div id="locationIntro">
            <div id="address">
              Springhill Fruit Farm</br>
              5646 Ganges-Five Points Rd.</br>
              Shiloh, OH 44878</br>
              (419) 896-2866</br>
            </div>
            <a href="https://goo.gl/maps/icburUZV1Nu">
              Need directions?
            </a>
          </div>
        </div>
      </div>
      <div id="timeBox">
        <div id="timeShade">

        </div>
        <div id="timeContent">
          <div id="imgFlex">
            <img src="css/img/store.jpg">
            <div id="timeIntro">
              Our store's dates and times this year are:
            </div>
          </div>
          <div id="timeFlex">
            <div class="dateContent" id="first">
              <u>Opening Date</u>: Aug. 7th
            </div>
            <div class="dateContent" id="last">
              <u>Closing Date</u>: Nov. 21st
            </div>
            <table>
              <tr>
                <th>Sunday</th>
                <td>Closed</td>
              </tr>
              <tr>
                <th>Monday</th>
                <td>9am - 5:30pm</td>
              </tr>
              <tr>
                <th>Tuesday</th>
                <td>9am - 5:30pm</td>
              </tr>
              <tr>
                <th>Wednesday</th>
                <td>9am - 5:30pm</td>
              </tr>
              <tr>
                <th>Thursday</th>
                <td>9am - 5:30pm</td>
              </tr>
              <tr>
                <th>Friday</th>
                <td>9am - 5:30pm</td>
              </tr>
              <tr>
                <th>Saturday</th>
                <td>9am - 4pm</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="contactBox">
      <div id="contactTab">
        Contact
      </div>
      <div id="contactContent">
        Have any questions? Give us a call at 419-896-2866, or see our updates on Facebook!
        <div class="contactList">
          <a href="tel:419-896-2866">
            <span><img id="phoneLogo" src="http://icons.iconarchive.com/icons/icons8/windows-8/72/Mobile-Phone-icon.png"></span>
          </a>
          <a href="https://www.facebook.com/pg/springhillfruitfarm/reviews/?ref=page_internal">
            <span><img id="facebookLogo" src="http://icons.iconarchive.com/icons/icons8/windows-8/96/Social-Networks-Facebook-icon.png"></span>
          </a>
        </div>
        Want to stop check our selection? You can find us at the address below:
        <div class="contactList">
          <div id="contactAddress">
            5646 Ganger-Five Points Rd.</br>
            Shiloh, OH 44878</br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
