<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Our Location & Hours</title>
    <link href="https://fonts.googleapis.com/css?family=Stardos+Stencil:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="css/output.css"/>
    <link rel="icon" href="css/img/tab-icon.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <title>Directions & Hours</title>
  </head>
  <body>
    <div id="menuBox">
      <div id="menuBar">
        Menu
      </div>
      <div id="allButtons">
        <a href="index.html">
          <div class="menuButton">
            Home Page
          </div>
        </a>
        <a href="produce.html">
          <div class="menuButton">
            Fruits & More
          </div>
        </a>
        <a href="history.html">
          <div class="menuButton">
            Farm History
          </div>
        </a>
      </div>
    </div>
    directions
  </body>
</html>
