<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Our History | Springhill Fruit Farm</title>
    <link href="https://fonts.googleapis.com/css?family=Stardos+Stencil:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="css/output.css"/>
    <link rel="icon" href="css/img/tab-icon.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <title>Our History</title>
  </head>
  <body>
    <div id="indexPage"></div>
    <div class="shadePage"></div>
    <div id="menuBox">
      <div id="menuBar">
        Menu
      </div>
      <div id="allButtons">
        <a href="index.html">
          <div class="menuButton">
            Welcome
          </div>
        </a>
        <a href="produce.html">
          <div class="menuButton">
            Fruit & More
          </div>
        </a>
        <a href="directions.html">
          <div class="menuButton">
            Where & When
          </div>
        </a>
        <a href="history.html">
          <div class="menuButton" id="lastButton">
            Family & Farm
          </div>
        </a>
      </div>
    </div>
    <div class="subpageTitle" id="directionsTitle">
      Family & Farm
    </div>
    <div id="mission">
      <div id="missionTitle">OUR MISSION</div>
      <!-- FROM OUR ORCHARD TO YOUR HOME, OUR GOAL IS TO PROVIDE EVERYONE A QUALITY PRODUCT, A FRIENDLY SERVICE, AND A CUSTOMER SATISFACTION GUARENTEE! -->
      From our orchard to your home, our goal is to provide you with a quality product, a friendly service, and a customer satisfaction guarentee!
    </div>
    <div id="histShade"></div>
    <div id="histContent">
      <div class="histColumn" id="columnOne">
        <img id="topImg" src="css/img/farm_label.jpg">
        <div id="topWord" class="histWords">
          Springhill Fruit Farm was purchased by Kenneth and MaryJane Burrer in the spring of 1968, with its name based on the natural springs on that property. Their youngest son, Jeff Burrer, started leasing the farm in 1998. He and his wife, Laura, took official ownership of Springhill Fruit Farm on December 16th, 2003.
        </div>
      </div>
      <div class="histColumn" id="columnTwo">
        <div class="histWords">
          Springhill Fruit Farm started with around 1,000 trees. As of 2018, though, it has since expanded to over 5,000 trees! Its produce and goods now include:
          <ul>
            <li>30 varieties of Appls</li>
            <li>4 varieties of Pears</li>
            <li>6 varieties of Peaches</li>
            <li>3 varieties of Plums</li>
            <li>2 varieties of Nectarines</li>
            <li>Pumpkins</li>
            <li>Squash</li>
            <li>Processed Cider</li>
          <ul>
        </div>
        <img src="css/img/bee_flower.jpg">
      </div>
      <div class="histColumn" id="columnThree">
        <div class="histWords">
          All of Jeff and Laura's family members are a blessed part of their team. They include their son (Benjamin) with his wife (Keely) and their daughter (Isla), their daugther (Mandy Miller) with her husband (Daniel) and their children (Parker, Luke, and Ellee), and their youngest daughter (Megan) with her fiancee (Kevin Sherer).
        </div>
        <img src="css/img/family_photo.jpg">
      </div>
    </div>
    <div id="contactBox">
      <div id="contactTab">
        Contact
      </div>
      <div id="contactContent">
        Have any questions? Give us a call at 419-896-2866, or see our updates on Facebook!
        <div class="contactList">
          <a href="tel:419-896-2866">
            <span><img id="phoneLogo" src="http://icons.iconarchive.com/icons/icons8/windows-8/72/Mobile-Phone-icon.png"></span>
          </a>
          <a href="https://www.facebook.com/pg/springhillfruitfarm/reviews/?ref=page_internal">
            <span><img id="facebookLogo" src="http://icons.iconarchive.com/icons/icons8/windows-8/96/Social-Networks-Facebook-icon.png"></span>
          </a>
        </div>
        Want to stop check our selection? You can find us at the address below:
        <div class="contactList">
          <div id="contactAddress">
            5646 Ganger-Five Points Rd.</br>
            Shiloh, OH 44878</br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
