<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Our Produce</title>
    <link href="https://fonts.googleapis.com/css?family=Stardos+Stencil:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
    <link rel="stylesheet" href="css/output.css"/>
    <link rel="icon" href="css/img/tab-icon.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="shadePage"></div>
    <div id="menuBox">
      <div id="menuBar">
        Menu
      </div>
      <div id="allButtons">
        <a href="index.html">
          <div class="menuButton">
            Welcome
          </div>
        </a>
        <a href="produce.html">
          <div class="menuButton">
            Fruit & More
          </div>
        </a>
        <a href="directions.html">
          <div class="menuButton">
            Where & When
          </div>
        </a>
        <a href="history.html">
          <div class="menuButton">
            Family & Farm
          </div>
        </a>
      </div>
    </div>
    <div class="subpageTitle">
      Fruit & More
    </div>
    <div id="chooseFruit">
      <div id="fruitIntro">
        Choose a type:
      </div>
      <div id="allFruit">
        <div class="oneFruit" id="appleButton">
          Apple
        </div>
        <div class="oneFruit" id="peachButton">
          Peach
        </div>
        <div class="oneFruit" id="pearButton">
          Pear
        </div>
        <div class="oneFruit" id="pumpkinButton">
          Pumpkin
        </div>
        <div class="oneFruit" id="allButton">
          All
        </div>
      </div>
    </div>
    <div class="fruitList">
      <!-- The fruit will be added by .attr() or taken away by .remove() here -->
    </div>
    <div id="contactBox">
      <div id="contactTab">
        Contact
      </div>
      <div id="contactContent">
        Have any questions? Give us a call at 419-896-2866, or see our updates on Facebook!
        <div class="contactList">
          <a href="tel:419-896-2866">
            <span><img id="phoneLogo" src="http://icons.iconarchive.com/icons/icons8/windows-8/72/Mobile-Phone-icon.png"></span>
          </a>
          <a href="https://www.facebook.com/pg/springhillfruitfarm/reviews/?ref=page_internal">
            <span><img id="facebookLogo" src="http://icons.iconarchive.com/icons/icons8/windows-8/96/Social-Networks-Facebook-icon.png"></span>
          </a>
        </div>
        Want to stop check our selection? You can find us at the address below:
        <div class="contactList">
          <div id="contactAddress">
            5646 Ganger-Five Points Rd.</br>
            Shiloh, OH 44878</br>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
