// Alterations for input.scss
// 768px < width <= 1366px

// Dimensions: 1366 x 768

// VARIABLES
  // Minimum width:
$min: 769px;
  // Maximum width:
$max: 1366px;

body {
  @media only screen and (min-width: $min) and (max-width: $max) {
    background-attachment: fixed;
    background-image: url('img/tractor-sunset-full copy.jpg');
  }
  .shadePage {

  }
  .subtitle {

  }

  // START: Index page
  #indexPage {
    @media only screen and (min-width: $min) and (max-width: $max) {
      display: none;
    }
  }
  #title {
    @media only screen and (min-width: $min) and (max-width: $max) {
      margin-top: 0;
      display: flex;
      justify-content: space-around;
    }
    #top {
      @media only screen and (min-width: $min) and (max-width: 849px) {
        // border: 1px solid red;
        font-size: 4rem;
      }
      @media only screen and (min-width: 850px) and (max-width: 1100px) {
        // border: 1px solid red;
        font-size: 4.5rem;
      }
      @media only screen and (min-width: 1101px) and (max-width: $max) {
        // border: 1px solid green;
        font-size: 6rem;
      }
    }
    .bottomWide {
      @media only screen and (min-width: $min) and (max-width: 849px) {
        display: inherit;
        // border: 1px solid red;
        font-size: 4rem;
      }
      @media only screen and (min-width: 850px) and (max-width: 1100px) {
        display: inherit;
        // border: 1px solid red;
        font-size: 4.5rem;
      }
      @media only screen and (min-width: 1101px) and (max-width: $max) {
        display: inherit;
        // border: 1px solid red;
        font-size: 6rem;
      }
    }
    #bottomBox {
      @media only screen and (min-width: $min) and (max-width: $max) {
        margin: 0;
        // border: 1px solid red;
        display: none;
      }
      .bottom {
        @media only screen and (min-width: $min) and (max-width: $max) {
          // border: 1px solid red;
          font-size: 5.5rem;
        }
      }
    }
  }
  #introBox {
    @media only screen and (min-width: $min) and (max-width: $max) {
      margin: 0 5%;
      width: 50%;
    }
    #introBack {
      @media only screen and (min-width: $min) and (max-width: 958px) {
        margin-top: 40px;
        height: 168px;
      }
      @media only screen and (min-width: 959px) and (max-width: 1305px) {
        margin-top: 40px;
        height: 145px;
      }
      @media only screen and (min-width: 1306px) and (max-width: $max) {
        margin-top: 40px;
        height: 130px;
      }
    }
  }
  #introContent {
    // For positioning the content
    @media only screen and (min-width: $min) and (max-width: 958px) {
      top: -145px;
      left: 12%;
      width: 36%;
    }
    @media only screen and (min-width: 959px) and (max-width: 1305px) {
      top: -138px;
      left: 12%;
      width: 36%;
    }
    @media only screen and (min-width: 1306px) and (max-width: $max) {
      top: -107px;
      left: 11%;
      // right: 50%;
      width: 36%;
    }
    // For adjusting the content's font-size
    @media only screen and (min-width: $min) and (max-width: 958px) {
      font-size: 1.75rem;
    }
    @media only screen and (min-width: 959px) and (max-width: $max) {
      font-size: 2.2rem;
    }
  }
  #allTopics {
    @media only screen and (min-width: $min) and (max-width: 1110px) {
      left: 40%;
      width: 40%;
    }
    @media only screen and (min-width: 1111px) and (max-width: $max) {
      left: 555px;
      width: 40%;
    }
    @media only screen and (min-width: $min) and (max-width: 1000px) {
      top: 400px;
    }
    @media only screen and (min-width: 1001px) and (max-width: $max) {
      top: 383px;
    }
    a {

      .oneTopic {

        .oneText {
          @media only screen and (min-width: $min) and (max-width: 1000px) {
            font-size: 2.5rem;
          }
          @media only screen and (min-width: 1001px) and (max-width: $max) {
            font-size: 3rem;
          }
        }
        .oneOpac {
          @media only screen and (min-width: $min) and (max-width: $max) {
            margin-bottom: 30px;
          }
          @media only screen and (min-width: $min) and (max-width: 1000px) {
            height: 75px;
          }
          @media only screen and (min-width: 1001px) and (max-width: $max) {
            height: 95px;
          }
        }
      }
    }
  }
  #removeApple {
    @media only screen and (min-width: $min) and (max-width: $max) {
      display: none;
      margin: 0 21%;
      width: 58%;
      position: absolute;
      bottom: 0px;
      animation-duration: 2s;
      @keyframes wiggleApple {
        0%   {transform: translate(0px,0px);}
        25%  {transform: translate(0px,-100px);}
        50%  {transform: translate(0px,0px);}
        100% {transform: translate(0px,0px);}
      }
      @keyframes inAppleBox {
        0%   {transform: translate(0px,0px) scale(1)}
        50%  {transform: translate(0px,-200px) scale(0.5)}
        100% {transform: translate(0px,-60px) scale(0)}
      }
      @keyframes twistApple {
        0% {transform: rotateY(0deg); }
        100% {transform: rotateY(90deg); }
      }
    }
    #rollImg {
      @media only screen and (min-width: $min) and (max-width: $max) {
        width: 100%;
      }
    }
  }
  #familyPic {

  }
  // END: Index Page

  // START: Menu bar
  #menuBox {
    @media only screen and (min-width: $min) and (max-width: $max) {
      // margin-top: -25px;
    }
    #menuBar {
      @media only screen and (min-width: $min) {
        font-size: 2.5rem;
      }
    }
    #allButtons {

      a {

        .menuButton {

        }
      }
    }
  }
  // END: Menu Bar

  // START: Directions page
  .subpageTitle {
    @media only screen and (min-width: $min) and (max-width: $max) {
      font-size: 5rem;
    }
  }
  #setDisplay {

    #directionsTitle {
      @media only screen and (min-width: $min) and (max-width: $max) {
        margin: 30px 15% 0 15%;
      }
    }

    #locationBox {

      #locationShade {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin: 0 14% 20px 14%;
          height: 295px;
        }
      }
      #locationContent {
        @media only screen and (min-width: $min) and (max-width: $max) {
          display: flex;
          justify-content: space-around;
          top: 235px;
          width: 70%;
        }
        iframe {
          @media only screen and (min-width: $min) and (max-width: $max) {
            margin-top: 20px;
            width: 50%;
            height: 250px;
          }
        }
        #locationIntro {
          @media only screen and (min-width: $min) and (max-width: $max) {
            padding-top: 50px;
            width: 40%;
          }
          #address {
            @media only screen and (min-width: 1206px) and (max-width: $max) {
              font-size: 2rem;
            }
            @media only screen and (min-width: $min) and (max-width: 1205px) {
              font-size: 1.5rem;
            }
          }
          a {
            @media only screen and (min-width: 1206px) and (max-width: $max) {
              font-size: 2rem;
            }
            @media only screen and (min-width: $min) and (max-width: 1205px) {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    #timeBox {

      #timeShade {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin: 0 14% 50px 14%;
        }
        @media only screen and (min-width: $min) and (max-width: 1199px) {
          height: 440px;
        }
        @media only screen and (min-width: 1200px) and (max-width: $max) {
          height: 450px;
        }
      }
      #timeContent {
        @media only screen and (min-width: $min) and (max-width: $max) {
          display: flex;
          justify-content: space-around;
          top: 554px;
        }
        #imgFlex {
          @media only screen and (min-width: $min) and (max-width: $max) {
            width: 55%;
          }
          img {
            @media only screen and (min-width: $min) and (max-width: $max) {

            }
          }
          #timeIntro {
            @media only screen and (min-width: $min) and (max-width: $max) {
              margin: 20px 0;
              font-size: 2rem;
            }
          }
        }
        #timeFlex {
          @media only screen and (min-width: $min) and (max-width: $max) {
            display: block;
          }
          .dateContent {
            @media only screen and (min-width: $min) and (max-width: 1199px) {
              font-size: 1.4rem;
            }
            @media only screen and (min-width: 1200px) and (max-width: $max) {
              font-size: 2rem;
            }
          }
          #first {

          }
          #last {

          }
          table {

            tr {

              td {

              }
            }
          }
        }
      }
    }
  }
  // END: Directions page

  // START: Produce page
  #chooseFruit {

    #fruitIntro {

    }
    #allFruit {

      .oneFruit {
        @media only screen and (min-width: $min) and (max-width: $max) {
          width: 20%;
        }
      }
      #appleButton {}
      #pearButton {}
      #peachButton {}
      #pumpkinButton {}
    }
    #allButton {

    }
  }
  #typeName {
    .fruitTitle {
      @media only screen and (min-width: $min) and (max-width: $max) {
        border-radius: 0 25px 25px 0;
        padding-right: 60px;
        width: 30%;
        text-align: right;
        font-size: 2.8rem;
      }
    }
    .fruitList {
      @media only screen and (min-width: $min) and (max-width: $max) {
        display: flex;
        flex-wrap: wrap;
      }
      .oneFruitBox {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin: 0 0 30px 4%;
          width: 18%;
        }
        .fruitName {

        }
        .fruitPicture {

        }
        .fruitDescription {

        }
        .fruitPrice {

        }
      }
    }
  }
  // END: Produce page

  // START: History page
  #mission {
    @media only screen and (min-width: 1070px) and (max-width: $max) {
      font-size: 1.5rem;
    }
    #missionTitle {

    }
  }
  #histShade {
    @media only screen and (min-width: $min) and (max-width: 1030px) {
      height: 1110px;
    }
    @media only screen and (min-width: 1031px) and (max-width: 1209px) {
      height: 1324px;
    }
    @media only screen and (min-width: 1210px) and (max-width: $max) {
      height: 1437px;
    }
  }
  #histContent {

    .histColumn {
      @media only screen and (min-width: $min) and (max-width: $max) {
        margin-top: 30px;
        // width: 1206px;
      }
      img {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin-right: 3%;
          width: 40%;
          height: 40%;
        }
      }
      #topImg {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin-top: 81px;
        }
      }
      .histWords {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin: 20px 5%;
        }
        @media only screen and (min-width: $min) and (max-width: 1030px) {
          font-size: 1rem;
        }
        @media only screen and (min-width: 1031px) and (max-width: 1209px) {
          font-size: 1.2rem;
        }
        @media only screen and (min-width: 1210px) and (max-width: $max) {
          font-size: 1.4rem;
        }
        ul {
          @media only screen and (min-width: $min) and (max-width: $max) {
            text-align: center;
            list-style-type: none;
            li {
              @media only screen and (min-width: $min) and (max-width: $max) {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
      #topWord {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin-top: 81px;
        }
      }
    }
    #columnOne {
      @media only screen and (min-width: $min) and (max-width: $max) {
        flex-direction: row;
      }
    }
    #columnTwo {
      @media only screen and (min-width: $min) and (max-width: $max) {
        flex-direction: row;
        text-align: right;
      }
    }
    #columnThree {
      @media only screen and (min-width: $min) and (max-width: $max) {
        flex-direction: row-reverse;
      }
    }
  }
  // END: History page

  // START: Contact tab
  #contactBox {

    #contactTab {

    }
    #contactContent {

      @keyframes tabUp {
        0%   {height: 0;
              padding: 0 0;
              font-size: 0rem;
              border: none;}
        100% {height: inherit;
              padding: 20px 10%;
              font-size: 1.1rem;
              border: 1px solid black;}
      }
      @keyframes tabDown {
        0%   {height: inherit;
              padding: 20px 10%;
              font-size: 1.1rem;
              border: 1px solid black;}
        100% {height: 0;
              padding: 0 0;
              font-size: 0rem;
              border: none;}
      }
      .contactList {

        a {

          #phoneLogo {

          }
          #facebookLogo {

          }
        }
        #contactAddress {
          @media only screen and (min-width: $min) and (max-width: $max) {
            @keyframes openAddress {
              0%   {font-size: 0rem; padding: 0;}
              100% {font-size: 1.4rem; padding: 5px 0;}
            }
            @keyframes closeAddress {
              0%   {font-size: 1.4rem; padding: 5px 0;}
              100% {font-size: 0rem; padding: 0;}
            }
          }
        }
      }
    }
  }
// END: Contact tab
}
