// Alterations for input.scss
// 1366px < width

// VARIABLES
  // Minimum width:
  $min: 1367px;

  body {
    @media only screen and (min-width: $min) {
      background-image: url('img/bkgrd_apples.jpg');
    }
    .shadePage {

    }
    .subtitle {

    }

    // START: Index page
    #indexPage {
      @media only screen and (min-width: $min) {
        margin: 0 auto;
        background-image: url('img/tractor-sunset-full copy.jpg');
        background-size: cover;
        width: 1366px;
      }
      #title {
        @media only screen and (min-width: $min) {
          display: flex;
          justify-content: space-around;
        }
        #top {
          @media only screen and (min-width: $min) {
            // border: 1px solid red;
            font-size: 6rem;
          }
        }
        .bottomWide {
          @media only screen and (min-width: $min) {
            display: inherit;
            // border: 1px solid red;
            font-size: 5.5rem;
          }
        }
        #bottomBox {
          @media only screen and (min-width: $min) {
            margin: 0;
            // border: 1px solid red;
            display: none;
          }
          .bottom {
            @media only screen and (min-width: $min) {
              // border: 1px solid red;
              font-size: 5.5rem;
            }
          }
        }
      }
      #introBox {
        @media only screen and (min-width: $min) {
          margin: 0 5%;
          width: 50%;
        }
        #introBack {
          @media only screen and (min-width: $min) {
            height: 165px;
          }
        }
      }
      #introContent {
        @media only screen and (min-width: $min){
          top: -168px;
          left: 11%;
          font-size: 2.5rem;
          width: 36%;
        }
      }
      #allTopics {
        @media only screen and (min-width: $min) {
          position: relative;
          left: 52%;
          top: -90px;
          width: 35%;
        }
        a {

          .oneTopic {

            .oneText {
              @media only screen and (min-width: $min) {
                font-size: 3rem;
              }
            }
            .oneOpac {
              @media only screen and (min-width: $min) {
                margin-bottom: 30px;
                height: 95px;
              }
            }
          }
        }
      }
      #removeApple {
        @media only screen and (min-width: $min) {
          display: none;
          margin: 0 21%;
          width: 58%;
          position: absolute;
          bottom: 0px;
          animation-duration: 2s;
          @keyframes wiggleApple {
            0%   {transform: translate(0px,0px);}
            25%  {transform: translate(0px,-100px);}
            50%  {transform: translate(0px,0px);}
            100% {transform: translate(0px,0px);}
          }
          @keyframes inAppleBox {
            0%   {transform: translate(0px,0px) scale(1)}
            50%  {transform: translate(0px,-200px) scale(0.5)}
            100% {transform: translate(0px,-60px) scale(0)}
          }
          @keyframes twistApple {
            0% {transform: rotateY(0deg); }
            100% {transform: rotateY(90deg); }
          }
        }
        #rollImg {
          @media only screen and (min-width: $min) {
            width: 100%;
          }
        }
      }
      #familyPic {

      }
    }
    // END: Index Page

    // START: Menu bar
    #menuBox {

      #menuBar {

      }
      #allButtons {

        a {

          .menuButton {

          }
        }
      }
    }
    // END: Menu Bar

    // START: Directions page
    .subpageTitle {

    }
    #setDisplay {
      #locationBox {

        #locationShade {

        }
        #locationContent {

          iframe {

          }
          #locationIntro {

            #address {

            }
            a {

            }
          }
        }
      }
      #timeBox {

        #timeShade {

        }
        #timeContent {

          img {

          }
          #timeIntro {

          }
          .dateContent {

          }
          #first {

          }
          #last {

          }
          table {

            tr {

              td {

              }
            }
          }
        }
      }
    }
    // END: Directions page

    // START: Produce page
    #chooseFruit {

      #fruitIntro {

      }
      #allFruit {

        .oneFruit {

        }
        #appleButton {}
        #pearButton {}
        #peachButton {}
        #pumpkinButton {}
      }
    }
    .fruitList {

      .oneFruitBox {

        .fruitName {

        }
        .fruitPicture {

        }
        .fruitDescription {

        }
        .fruitPrice {

        }
      }
    }
    // END: Produce page

    // START: History page

    // END: History page

    // START: Contact tab
    #contactBox {

      #contactTab {

      }
      #contactContent {

        @keyframes tabUp {
          0%   {height: 0;
                padding: 0 0;
                font-size: 0rem;
                border: none;}
          100% {height: inherit;
                padding: 20px 10%;
                font-size: 1.1rem;
                border: 1px solid black;}
        }
        @keyframes tabDown {
          0%   {height: inherit;
                padding: 20px 10%;
                font-size: 1.1rem;
                border: 1px solid black;}
          100% {height: 0;
                padding: 0 0;
                font-size: 0rem;
                border: none;}
        }
        .contactList {

          a {

            #phoneLogo {

            }
            #facebookLogo {

            }
          }
          #contactAddress {
            @keyframes openAddress {
              0%   {font-size: 0rem; padding: 0;}
              100% {font-size: 1.4rem; padding: 5px 0;}
            }
            @keyframes closeAddress {
              0%   {font-size: 1.4rem; padding: 5px 0;}
              100% {font-size: 0rem; padding: 0;}
            }
          }
        }
      }
    }
  // END: Contact tab
  }
