// Alterations for input.scss
// 360px < width <= 375px

// VARIABLES
  // Minimum width:
$min: 361px;
  // Maximum width:
$max: 375px;

body {

  .shadePage {

  }
  .subtitle {

  }

  // START: Index page
  #indexPage {

  }
  #title {

    #top {
      @media only screen and (min-width: $min) and (max-width: $max) {
        font-size: 4rem;
      }
    }
    #bottomBox {

      .bottom {
        @media only screen and (min-width: $min) and (max-width: $max) {
          font-size: 3.7rem;
        }
      }
    }
  }
  #introBox {

    #introBack {
      @media only screen and (min-width: $min) and (max-width: $max) {
        height: 110px;
      }
    }
  }
  #introContent {
    @media only screen and (min-width: $min) and (max-width: $max) {
      top: -93px;
      font-size: 1.4rem;
    }
  }
  #allTopics {
    @media only screen and (min-width: $min) and (max-width: $max) {
      top: 354px;
    }
    a {

      .oneTopic {
        @media only screen and (min-width: $min) and (max-width: $max) {
          top: 382px;
        }
        .oneText {
          @media only screen and (min-width: $min) and (max-width: $max) {
            font-size: 1.9rem;
          }
        }
        .oneOpac {
          @media only screen and (min-width: $min) and (max-width: $max) {
            margin-bottom: 23px;
            height: 65px;
          }
        }
      }
    }
  }
  #removeApple {
    @media only screen and (min-width: $min) and (max-width: $max) {
      margin: 0 22%;
      width: 56%;
    }
    @media only screen and (min-width: $min) and (max-width: $max) {
      @keyframes wiggleApple {
        0%   {transform: translate(0px,0px);}
        25%  {transform: translate(0px,-60px);}
        50%  {transform: translate(0px,0px);}
        100% {transform: translate(0px,0px);}
      }
      @keyframes inAppleBox {
        0%   {transform: translate(0px,0px) scale(1)}
        50%  {transform: translate(0px,-260px) scale(0.5)}
        100% {transform: translate(0px,-75px) scale(0)}
      }
    }
    #rollImg {
      width: 100%;
    }
  }
  #familyPic {

  }
  // END: Index Page

  // START: Menu bar
  #menuBox {

    #menuBar {

    }
    #allButtons {

      a {

        .menuButton {
          @media only screen and (min-width: $min) and (max-width: $max) {
            border-left: 1px solid black;
            border-right: 1px solid black;
            @keyframes slideDown {
              0% {
                padding: 0 0;
                font-size: 0rem;
                height: 0px;
                border-bottom: 0px;
              }
              100% {
                padding: 8px 0;
                font-size: 1.7rem;
                height: 43px;
                border-bottom: 1px solid black;
              }
            }
            @keyframes slideUp {
              0% {
                padding: 8px 0;
                font-size: 1.7rem;
                height: 43px;
                border-bottom: 1px solid black;
              }
              100% {
                padding: 0 0;
                font-size: 0rem;
                height: 0px;
                border-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
  // END: Menu Bar

  // START: Directions page
  .subpageTitle {

  }
  #setDisplay {
    #locationBox {

      #locationShade {

      }
      #locationContent {

        iframe {

        }
        #locationIntro {

          #address {

          }
          a {

          }
        }
      }
    }
    #timeBox {

      #timeShade {

      }
      #timeContent {

        img {

        }
        #timeIntro {

        }
        .dateContent {

        }
        #first {

        }
        #last {

        }
        table {

          tr {

            td {

            }
          }
        }
      }
    }
  }
  // END: Directions page

  // START: Produce page
  #chooseFruit {

    #fruitIntro {

    }
    #allFruit {

      .oneFruit {

      }
      #appleButton {}
      #pearButton {}
      #peachButton {}
      #pumpkinButton {}
    }
    #allButton {

    }
  }
  #typeName {
    .fruitTitle {

    }
    .fruitList {

      .oneFruitBox {

        .fruitName {

        }
        .fruitPicture {

        }
        .fruitDescription {

        }
        .fruitPrice {

        }
      }
    }
  }
  // END: Produce page

  // START: History page
  #mission {

    #missionTitle {

    }
  }
  #histShade {

  }
  #histContent {

    .histColumn {

      img {

      }
      #topImg {

      }
      .histWords {

        ul {

        }
      }
      #topWord {

      }
    }
    #columnOne {

    }
    #columnTwo {

    }
    #columnThree {

    }
  }
  // END: History page

  // START: Contact tab
  #contactBox {



    #contactTab {

    }
    #contactContent {
      @media only screen and (min-width: $min) and (max-width: $max) {

      }
      .contactList {

        a {

          #phoneLogo {

          }
          #facebookLogo {

          }
        }
        #contactAddress {
          @media only screen and (min-width: $min) and (max-width: $max) {

          }
        }
      }
    }
  }
// END: Contact tab
}
