// Alterations for input.scss
// 376px < width <= 414px

// VARIABLES
  // Minimum width:
$min: 376px;
  // Maximum width:
$max: 414px;

body {

  .shadePage {

  }
  .subtitle {

  }

  // START: Index page
  #indexPage {

  }
  #title {

    #top {
      @media only screen and (min-width: $min) and (max-width: $max) {
        font-size: 4.5rem;
      }
    }
    #bottomBox {
      .bottom {
        @media only screen and (min-width: $min) and (max-width: $max) {
          font-size: 4rem;
        }
      }
    }
  }
  #introBox {
    @media only screen and (min-width: $min) and (max-width: $max) {
      top: 18px;
    }
    #introBack {
      @media only screen and (min-width: $min) and (max-width: $max) {
        height: 115px;
      }
    }
  }
  #introContent {
    @media only screen and (min-width: $min) and (max-width: $max) {
      top: -92px;
      font-size: 1.5rem;
    }
  }
  #allTopics {
    @media only screen and (min-width: $min) and (max-width: $max) {
      top: 400px;
    }
    a {
      .oneTopic {
        @media only screen and (min-width: $min) and (max-width: $max) {
          margin-bottom: 45px;
        }
        .oneText {
          @media only screen and (min-width: $min) and (max-width: $max) {
            font-size: 2rem;
          }
        }
        .oneOpac {
          @media only screen and (min-width: $min) and (max-width: $max) {
            margin-bottom: 45px;
          }
        }
      }
    }
  }
  #removeApple {
    @media only screen and (min-width: $min) and (max-width: $max) {
      margin: 0 21%;
      width: 58%;
      position: absolute;
      bottom: 0px;
    }
    @media only screen and (min-width: $min) and (max-width: $max) {
      @keyframes wiggleApple {
        0%   {transform: translate(0px,0px);}
        25%  {transform: translate(0px,-60px);}
        50%  {transform: translate(0px,0px);}
        100% {transform: translate(0px,0px);}
      }
      @keyframes inAppleBox {
        0%   {transform: translate(0px,0px) scale(1)}
        50%  {transform: translate(0px,-300px) scale(0.5)}
        100% {transform: translate(0px,-70px) scale(0)}
      }
    }
    #rollImg {
      width: 100%;
    }
  }
  #familyPic {

  }
  // }
  // END: Index Page

  // START: Menu bar
  #menuBox {

    #menuBar {

    }
    #allButtons {

      a {

        .menuButton {

          @keyframes slideDown {
            0% {padding: 0 0; font-size: 0rem; height: 0px; border-bottom: 0px;}
            100% {padding: 8px 0; font-size: 1.7rem; height: 43px; border-bottom: 1px solid black;}
          }
          @keyframes slideUp {
            0% {padding: 8px 0; font-size: 1.7rem; height: 43px; border-bottom: 1px solid black;}
            100% {padding: 0 0; font-size: 0rem; height: 0px; border-bottom: 0px;}
          }
        }
      }
    }
  }
  // END: Menu Bar

  // START: Directions page
  .subpageTitle {

  }
  #setDisplay {
    #locationBox {

      #locationShade {

      }
      #locationContent {

        iframe {

        }
        #locationIntro {

          #address {

          }
          a {

          }
        }
      }
    }
    #timeBox {

      #timeShade {
        @media only screen and (min-width: $min) and (max-width: $max) {
          height: 645px
        }
      }
      #timeContent {

        img {

        }
        #timeIntro {

        }
        .dateContent {

        }
        #first {

        }
        #last {

        }
        table {

          tr {

            td {

            }
          }
        }
      }
    }
  }
  // END: Directions page

  // START: Produce page
  #chooseFruit {

    #fruitIntro {

    }
    #allFruit {

      .oneFruit {

      }
      #appleButton {}
      #pearButton {}
      #peachButton {}
      #pumpkinButton {}
    }
    #allButton {

    }
  }
  #typeName {
    .fruitTitle {

    }
    .fruitList {

      .oneFruitBox {

        .fruitName {

        }
        .fruitPicture {

        }
        .fruitDescription {

        }
        .fruitPrice {

        }
      }
    }
  }
  // END: Produce page

  // START: History page

  // END: History page

  // START: Contact tab
  #contactBox {

    #contactTab {

    }
    #contactContent {
      // @media only screen and (min-width: $min) and (max-width: $max) {
      @media (min-width: $min) and (max-width: $max) {
        @keyframes tabUp {
          0%   {height: 0;
                padding: 0 0;
                font-size: 0rem;
                border: none;}
          100% {height: inherit;
                padding: 20px 10%;
                font-size: 1.1rem;
                border: 1px solid black;}
        }
        @keyframes tabDown {
          0%   {height: inherit;
                padding: 20px 10%;
                font-size: 1.1rem;
                border: 1px solid black;}
          100% {height: 0;
                padding: 0 0;
                font-size: 0rem;
                border: none;}
        }
      }
      .contactList {

        a {

          #phoneLogo {

          }
          #facebookLogo {

          }
        }
        #contactAddress {
          @media only screen and (min-width: $min) and (max-width: $max) {
            @keyframes openAddress {
              0%   {font-size: 0rem; padding: 0;}
              100% {font-size: 1.2rem; padding: 5px;}
            }
            @keyframes closeAddress {
              0%   {font-size: 1.2rem; padding: 5px;}
              100% {font-size: 0rem; padding: 0;}
            }
          }
        }
      }
    }
  }
// END: Contact tab
}
