// Alterations for input.scss
// 414px < width <= 768px

// VARIABLES
  // Minimum width:
$min: 415px;
  // Maximum width:
$max: 768px;

body {
  @media only screen and (min-width: $min) and (max-width: $max) {
    background-image: url('img/orchard_flowers.jpg');
  }
  .shadePage {

  }
  .subtitle {

  }

  // START: Index page
  #title {

    #top {
      @media only screen and (min-width: $min) and (max-width: $max) {
        font-size: 6rem;
      }
    }
    #bottomBox {
      @media only screen and (min-width: $min) and (max-width: $max) {
        margin: 0 10%;
      }
      .bottom {
        @media only screen and (min-width: $min) and (max-width: $max) {
          font-size: 5rem;
        }
      }
    }
  }
  #introBox {

    #introBack {
      @media only screen and (min-width: $min) and (max-width: $max) {
        height: 175px;
      }
    }
    #introContent {
      @media only screen and (min-width: $min) and (max-width: $max) {
        top: -168px;
        font-size: 2.4rem;
      }
    }
  }
  #allTopics {
    @media only screen and (min-width: $min) and (max-width: $max) {
      margin: 0 18%;
      top: 570px;
      width: 64%;
      transform: rotateY(90deg);
      animation-name: none;
      animation-duration: 500ms;
      animation-delay: 500ms;
      animation-fill-mode: forwards;
      @keyframes twistTopics {
        0% {transform: rotateY(90deg); }
        100% {transform: rotateY(0deg); }
      }
    }
    a {

      .oneTopic {

        .oneText {
          font-size: 3rem;
        }
        .oneOpac {

        }
      }
    }
  }
  #rollApple {
    @media only screen and (min-width: $min) and (max-width: $max) {
      margin: 0 21%;
      width: 58%;
      position: absolute;
      bottom: 0px;
      animation-duration: 2s;
      @keyframes wiggleApple {
        0%   {transform: translate(0px,0px);}
        25%  {transform: translate(0px,-100px);}
        50%  {transform: translate(0px,0px);}
        100% {transform: translate(0px,0px);}
      }
      @keyframes inAppleBox {
        0%   {transform: translate(0px,0px) scale(1)}
        50%  {transform: translate(0px,-200px) scale(0.5)}
        100% {transform: translate(0px,-60px) scale(0)}
      }
      @keyframes twistApple {
        0% {transform: rotateY(0deg); }
        100% {transform: rotateY(90deg); }
      }
    }
    #rollImg {
      width: 100%;
    }
  }
  // END: Index Page

  // START: Menu bar
  #menuBox {

    #menuBar {

    }
    #allButtons {

      a {

        .menuButton {

        }
      }
    }
  }
  // END: Menu Bar

  // START: Directions page
  .subpageTitle {

  }
  #locationBox {

    #locationShade {

    }
    #locationContent {

      iframe {

      }
      #locationIntro {

        #address {

        }
        a {

        }
      }
    }
  }
  #timeBox {

    #timeShade {

    }
    #timeContent {

      img {

      }
      #timeIntro {

      }
      .dateContent {

      }
      #first {

      }
      #last {

      }
      table {

        tr {

          td {

          }
        }
      }
    }
  }
  // END: Directions page

  // START: Produce page
  #chooseFruit {

    #fruitIntro {

    }
    #allFruit {

      .oneFruit {

      }
      #appleButton {}
      #pearButton {}
      #peachButton {}
      #pumpkinButton {}
    }
  }
  .fruitList {

    .oneFruitBox {

      .fruitName {

      }
      .fruitPicture {

      }
      .fruitDescription {

      }
      .fruitPrice {

      }
    }
  }
  // END: Produce page

  // START: History page

  // END: History page

  // START: Contact tab
  #contactBox {

    #contactTab {

    }
    #contactContent {

      @keyframes tabUp {
        0%   {height: 0;
              padding: 0 0;
              font-size: 0rem;
              border: none;}
        100% {height: inherit;
              padding: 20px 10%;
              font-size: 1.1rem;
              border: 1px solid black;}
      }
      @keyframes tabDown {
        0%   {height: inherit;
              padding: 20px 10%;
              font-size: 1.1rem;
              border: 1px solid black;}
        100% {height: 0;
              padding: 0 0;
              font-size: 0rem;
              border: none;}
      }
      .contactList {

        a {

          #phoneLogo {

          }
          #facebookLogo {

          }
        }
        #contactAddress {
          @keyframes openAddress {
            0%   {font-size: 0rem; padding: 0;}
            100% {font-size: 1.4rem; padding: 5px 0;}
          }
          @keyframes closeAddress {
            0%   {font-size: 1.4rem; padding: 5px 0;}
            100% {font-size: 0rem; padding: 0;}
          }
        }
      }
    }
  }
// END: Contact tab
}
