html {
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image: url('img/row-1.jpg');
    background-size: cover;
    // START: Index page
    #title {
      margin: 30px 5% 0 5%;
      padding-top: 10px;
      border-radius: 10px;
      font-family: 'Stardos Stencil', cursive;
      color: white;
      text-align: center;
      background-image: url('img/wood-background.jpg');
      background-size: cover;
      #top {
        margin-bottom: 5px;
        font-size: 4rem;
      }
      #bottomBox {
        display: flex;
        justify-content: space-around;
        .bottom {
          font-size: 3.5rem;
          width: 45%;
        }
      }
    }
    #introBox {
      margin: 0 5%;
      width: 90%;
      #introBack {
        margin: 20px 10% 0 10%;
        border-radius: 20px;
        background-color: white;
        opacity: 0.7;
        height: 100px;
      }
      #introContent {
        border-radius: 20px;
        position: relative;
        top: -95px;
        left: 15%;
        font-size: 1.3rem;
        font-family: 'Walter Turncoat', cursive;
        text-align: center;
        width: 70%;
      }
    }
    #allTopics {
      margin: 0 10%;
      position: absolute;
      top: 370px;
      text-align: center;
      width: 80%;
      a {
        color: black;
        text-decoration: none;
        .oneTopic {
          .oneText {
            margin: 10px 0%;
            // border: 1px solid red;
            z-index: 1;
            position: absolute;
            font-size: 1.7rem;
            font-family: 'Walter Turncoat', cursive;
            text-align: center;
            width: 100%;
          }
          .oneOpac {
            margin-bottom: 30px;
            border-radius: 5px;
            background-color: white;
            opacity: 0.7;
            height: 60px;
          }
        }
      }
    }
    #rollApple {
      margin: 0 20%;
      margin-left: 20%;
      display: block;
      width: 60%;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: wiggleApple;
      @keyframes wiggleApple {
        0% {transform: translate(0px,0px);}
        25% {transform: translate(0px,-50px);}
        50% {transform: translate(0px,0px);}
        100% {transform: translate(0px,0px);}
      }
      @keyframes inAppleBox {
        0% {transform: translate(0px,0px) scale(1)}
        50% {transform: translate(0px,-200px) scale(0.5)}
        100% {transform: translate(0px,-70px) scale(0)}
      }
      #rollImg {
        width: 100%;
      }
    }
    // END: Index Page

    // START: Produce Page
    #menuBox {
      position: absolute;
      color: white;
      text-align: center;
      width: 100%;
      #menuBar {
        padding: 5px 0;
        font-size: 1.5rem;
        background-color: black;
      }
      #allButtons {
        a {
          color: white;
          text-decoration: none;
          .menuButton {
            margin: 0 5%;
            font-size: 0rem;
            background-color: black;
            width: 90%;
            height: 0px;
            animation-name: none;
            animation-duration: 300ms;
            animation-fill-mode: forwards;
            @keyframes slideDown {
              0% {padding: 0 0; font-size: 0rem; height: 0px}
              100% {padding: 8px 0; font-size: 1.7rem; height: 43px}
            }
            @keyframes slideUp {
              0% {padding: 8px 0; font-size: 1.7rem; height: 43px}
              100% {padding: 0 0; font-size: 0rem; height: 0px}
            }
          }
        }
      }
    }
    // END: Produce Page

  }
  @import '360px';
  @import '375px';
  @import '414px';
  @import '768px';
  @import '1366px';
  @import '1920px';
}
